
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body{
    padding: 0;
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}
.icons_menu img{
    width:2vw;
    height: 2vw;
    padding: 0 2vw;
}
 header span{
    font-size: 1.5vw;
 }
 header a{
    text-decoration: none;
    color: rgb(77, 77, 77);
    padding: 0 1vw;
 }
 header a:hover{
    color: rgb(197, 176, 176);
    transition-delay: 0.2s;
    transition: 0.1s ease-in-out;
 }
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-size: 36px; */
    font-size: 1vw;
    /* padding: 20px; */
    padding: 0 2vw;
    height: 5vw;
}
.section1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 3vw;
    border: none;
}
.section1 img{
    width: 100%;
    padding-top: 7vw;
}
.section1 a{
    /* font-size: 2em; */
    font-size: 2vw;
}
.section1 span{
    /* font-size: 3em; */
    font-size: 4vw;
}

.section2, .section3{
    padding: 7vw;
    align-items: center;
    display: flex;
}
.text_wrap{
    padding: 5vh;
    /* font-size: 3rem; */
    font-size: 3vw;
    width: 30vw;
}
.section4{
    padding: 10vw 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;

}
.text_wrap2 div{
    /* font-size: 3rem; */
    font-size: 3vw;
}
.text_wrap2{
    display: flex;
    gap: 3vw;
}
.big-text{
    width: 25vw;
}
.section4 a{
    /* font-size: 4rem; */
    font-size: 4vw;
}
.small_text span{
    /* font-size: 2rem; */
    font-size: 2vw;
    line-height: 0.9;
}
.small_text{
    line-height: 0.7;
}
footer{
    /* display: flex;
    flex-direction: column; */
    /* font-size: 2rem; */
    display: grid;
    font-size: 2vw;
    /* background-color: black; */
    /* color: white; */
    gap: 2vw;
    /* padding: 0 5vw; */
    width: 100%;
    height: 25vw;
    align-items: center;
    text-align: center;
    justify-content: center;

}
/* footer div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
footer a{
    /* font-size:3rem; */
    font-size: 3vw;
}
img {
    width: 100%;
    height: auto; /* Это гарантирует сохранение пропорций картинки */
}
 .section5{
    /* background-color: black; */
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-column-gap:0vw;
    grid-row-gap:1vw;
    padding: 2vw;
    /* margin: 3vw; */
    width: 100%;
} 
.section5 img{
    width: 18.75vw; 
    height: 11.25vw; 
    /* border: 0.1vw solid white; */

}
.section5 img:hover{
    filter: brightness(100%)
}

.section6{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vw;
    background-color: black;
    padding-top: 5vw;
}
.section6_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 2px solid white;
}
.text_wrap3{
    color: white;
    width: 43vw;
    text-align: justify;
    font-size: 1.5vw;
    text-indent: 3vw;
    padding-right: 5vw;

}
.text_wrap3_1{
    text-align: center;
}
.text_wrap3_1 a{
    font-size: 3vw;
}
.text_wrap3_2{
    text-align: center;
    font-size: 2vw;
}


.text_wrap4{
    color: white;
    width: 43vw;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    
}
.text_wrap4_1{
    color: white;
    background-color: black;
    width: 43vw;
    text-align: center;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 5vw;
    
}
.text_wrap4_1 div{
    padding: 0 1vw;
}
.text_wrap4_2{
    color: white;
    width: 43vw;
    text-align: center;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    text-align: center;
    
}
.text_wrap4 div{
    padding: 0 1vw;
}
.text_wrap3 span{
    font-size: 3vw;
}
.section6 button{
    margin-top: 3.5vw;
    margin-bottom: 3.5vw;
    border-radius: 0.4vw;
    border-width: 0;
    /* padding: 0 2vw; */
    justify-content: center;
    align-items: center;
}
.section6 button img{
    width:15vw;
    height: 6vw;
}
.section6 button:hover{
    background-color: rgb(197, 176, 176);
    transition: 0.2s;
    cursor: pointer;
    
}
.section5_text{
    font-size: 3vw;
    text-align: center;
    margin-top: 2vw;
    /* color:white; */
    padding: 0 3vw;
    /* background-color: black; */
}
.section5_wrap{
    /* background-color: black; */
}
/* animations */
.animation1s{
    opacity: 0;
    transition: all 1s;
}
.animate{
    opacity: 1;

}
.animation2s{
    opacity: 0;
    transition: all 2s;
}

@media only screen and (max-width: 760px) {
    /* .section3{
            flex-direction: column;
        }
        .section2{
            flex-direction: column-reverse;
        } */
        /* .section5 {
        grid-template-columns: 1fr; 
        padding: 0; 
        gap: 0.5vw;
        padding-top: 1vw;
        } */
        /* .section5 img{
            height: 45vw;
            width: 100%;
            max-width: 100%;
        } */
}